<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/dataTables.css">
    <link href="/css/admin.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/img/logo.png">
    <title>Fernn - Reklamacje</title>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="/js/datatables.min.js"></script>
    
    <style>
        .content{
            color: #7c7e8a;
            margin-top: 50px;
            padding-top: 40px;
        }
        .card-body{
            background-color:#d3d3d31e;
        }
       .Card-style{
           margin:auto;
       }
       table{
           width: 100%;
       }
       .searchs{
           width: 200px !important;
           margin: 3px;
       }
    </style>
</head>
<body>
    <div class="all">
        <div class="LeftNav">
            <br>
            <a class="LeftNavItem" href="/a/home">
                <div class="NavItem">
                    <img src="https://img.icons8.com/fluent-systems-regular/24/ffffff/home.png"/><br>
                    Home
                </div>
            </a>
            <hr>
            <a class="LeftNavItem" href="/a/add">
                <div class="NavItem">
                    <img src="https://img.icons8.com/fluent-systems-regular/24/ffffff/add-property.png"/><br>
                    Dodaj reklamacje
                </div>
            </a>
            <hr>
            <a class="LeftNavActive" href="/a/complaints">
                <div class="NavItem">
                    <img src="https://img.icons8.com/fluent-systems-regular/24/ffffff/data-sheet.png"/><br>
                    Spis reklamacji
                </div>
            </a>
            <div class="PseudoLeftNavDropZone">
                <div class="LeftNavDropInvisible">
                    <a href="/a/complaints"> 
                        <span class="LeftNavDropInvisible"></span>
                    </a>
                </div>
                <div class="LeftNavDrop">
                    <div class="LeftNavDropZone">    
                        <a href="/a/complaints">
                            <span class="LeftNavDropItem">
                                Wszystkie
                            </span>
                        </a>
                        <a href="/a/complaints?status=1">
                            <span class="LeftNavDropItem">
                                Zgłoszone
                            </span>
                        </a>
                        <a href="/a/complaints?status=2">
                            <span class="LeftNavDropItem">
                                W realizacji 
                            </span>
                        </a>
                        <a href="/a/complaints?status=3">
                            <span class="LeftNavDropItem">
                                Do odbioru
                            </span>
                        </a>
                        <a href="/a/complaints?status=4">
                            <span class="LeftNavDropItem">
                                Odebrane
                            </span>
                        </a>                       
                    </div>
                </div>
            </div>
            {{#if Admin}}
                {{#if Reports}}
                    <hr>
                    <a class="LeftNavItem" href="/a/statistics">
                        <div class="NavItem">
                            <img src="https://img.icons8.com/material-rounded/24/ffffff/combo-chart.png"/><br>
                            Statystyki
                        </div>
                    </a>
                {{/if}}
            {{/if}}
            <hr>
            <a class="LeftNavItem" href="/a/settings">
                <div class="NavItem">
                    <img src="https://img.icons8.com/fluent-systems-regular/24/ffffff/settings.png"/><br>
                    Ustawienia
                </div>
            </a>
        </div>
        <div> 
            <nav class="navbar  navbar-dark bg-primary">
                <button class="navbar-toggler d-md-none" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-brand Logo  d-md-block d-none">
                    <a href="/a/home" class="Logo">
                        <h3>Fernn</h3>
                    </a>
                </div>
                <div class="navbar-brand  no-arrow show">
                    <div id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="">
                        {{ Firstname }} {{ Lastname }} <img src="{{ Thumbnail }}"/>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in MiniNav" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="/a/settings#account">
                            Ustawienia konta
                        </a>
                        {{#if Admin}}
                            <a class="dropdown-item" href="/a/settings/#license">
                                Licencja
                            </a>
                        {{/if}}
                        <a class="dropdown-item" href="/#kontakt">
                            Kontakt
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout" data-toggle="modal" data-target="#logoutModal">
                            Wyloguj się
                        </a>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav" id="trescnav">
                        <li class="nav-item">
                            <a class="nav-link" href="/a/home">
                                <img src="https://img.icons8.com/fluent-systems-regular/24/ffffff/home.png"/> Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/a/add">
                                <img src="https://img.icons8.com/fluent-systems-regular/24/ffffff/add-property.png"/> Dodaj reklamację
                            </a>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle active" href="/a/complaints" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="https://img.icons8.com/fluent-systems-regular/24/ffffff/data-sheet.png"/> Spis reklamacji
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/a/complaints/">Wszystkie</a>
                                <a class="dropdown-item" href="/a/complaints?status=1">Zgłoszone</a>
                                <a class="dropdown-item" href="/a/complaints?status=2">W realizacji</a>
                                <a class="dropdown-item" href="/a/complaints?status=3">Do odbioru</a>
                                <a class="dropdown-item" href="/a/complaints?status=4">Odebrane</a>
                            </div>
                        </li>
                        {{#if Admin}}
                            {{#if Reports}}
                                <li class="nav-item">
                                    <a class="nav-link" href="/a/statistics">
                                        <img src="https://img.icons8.com/material-rounded/24/ffffff/combo-chart.png"/> Statystyki
                                    </a>
                                </li>
                            {{/if}}
                        {{/if}}
                        <li class="nav-item ">
                            <a class="nav-link" href="/a/settings">
                                <img src="https://img.icons8.com/fluent-systems-regular/24/ffffff/settings.png"/> Ustawienia
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="TopPoint"></div>
            <div class="content">
                {{#if WarningStatus}}
                    <div class="alert alert-warning col-11 m-auto mb-3" role="alert">
                        Wyświetlane są tylko reklamacje z statusem "{{ WarningData }}".
                        <a href="/a/complaints" class="alert-link">Aby wyświetlić wszystie reklamacje kliknij w pogrubiony tekst</a>
                    </div>
                {{/if}}
                {{#if WarningLocking}}
                    <div class="alert alert-warning col-11 m-auto mb-3" role="alert">
                        Wyświetlane są tylko reklamacje zamknięte.
                        {{#if Admin}}
                            Możesz je edytować lecz osoby będące pracownikami mają zablokowaną tą opcję.
                            {{else}}
                                Tylko administrator może je edytować.
                        {{/if}}
                        <a href="/a/complaints" class="alert-link">Aby wyświetlić wszystie reklamacje kliknij w pogrubiony tekst</a>
                    </div>
                {{/if}}
                {{#if EditError}}
                    <div class="alert alert-danger col-11 m-auto mb-3" role="alert">
                        Wystąpił problem z edycją. Spróbuj ponownie.
                    </div>
                {{/if}}
                {{#if Delate}}
                    <div class="alert alert-success col-11 m-auto mb-3" role="alert">
                        Reklamacja została usunięta.
                    </div>
                {{/if}}
                {{#if Warning}}
                    <div class="alert alert-warning col-11 m-auto" role="alert">
                        <strong>Czas licencji dobiega końca</strong> Po zakończeniu licencji zostanie zablokowanie dodawanie nowych reklamacji.
                        {{#if Admin}}
                            Aby przedłużyć czas trwania wejdź w zakładkę "Licencja" ukrytą pod awatarem w prawym górnym rogu.
                        {{/if}}
                    </div>
                {{/if}}
                {{#if Danger}}
                    <div class="alert alert-danger col-11 m-auto" role="alert">
                        <strong>Koniec ważności licencji</strong> Opcja dodawania reklamacji została zablokowana.
                        {{#if Admin}}
                            Aby ponownie aktywować dodawanie reklamacji wejdź w zakładkę "Licencja" ukrytą pod awatarem w prawym górnym rogu.
                        {{/if}}
                    </div>
                {{/if}}
                <div class="Card-style mt-3 col-11 mb-5">
                    <div class="card shadow mb-10 m-auto">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Lista reklamacji</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="table_id" class="display" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>Numer rekla.</th>
                                            <th class="d-none">Kod</th>
                                            <th class="d-none">Pin</th>
                                            <th>Status</th>
                                            <th>Imie</th>
                                            <th>Nazwisko</th>
                                            <th>Model</th>
                                            <th>Producent</th>
                                            <td>Operacje</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each ReklaList}}
                                            <tr>
                                                <td>{{ Complaint_number }}</td>
                                                <td class="d-none">{{ Code }}</td>
                                                <td class="d-none">{{ Pin }}</td>
                                                <td>{{ Status }}</td>
                                                <td>{{ Firstname }}</td>
                                                <td>{{ Lastname }}</td>
                                                <td>{{ Model }}</td>
                                                <td>{{ Manufacturer }}</td>
                                                <td>
                                                    {{#if Edit}}
                                                        <a href="/a/details?RID={{ _ID }}" class="btn btn-outline-primary">
                                                            Edytuj
                                                        </a>
                                                        {{else}}
                                                            {{#if Admin}}
                                                                <a href="/a/details?RID={{ _ID }}" class="btn btn-outline-warning">
                                                                    Edytuj
                                                                </a>
                                                                {{else}}
                                                                    <a class="btn btn-danger">
                                                                        Zblokowane
                                                                    </a>
                                                            {{/if}}
                                                    {{/if}}
                                                </td>
                                            </tr> 
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $(document).ready( function () {
                        $('#table_id').DataTable();
                    } );
                </script>
            </div>
        </div>
        <div class="Clear"></div>
        <a href="#TopPoint">
            <div class="top ToTop" id="ToTop">
                <img src="https://img.icons8.com/fluent-systems-regular/24/000000/long-arrow-up.png"/>
            </div>
        </a>
    </div>
    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Na pewno chcesz wyjść?</h5>
                </div>
                <div class="modal-body">Kliknij "Wyloguj" jeśli chcesz wylogować się.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Anuluj</button>
                    <a class="btn btn-danger" href="/logout">Wyloguj</a>
                </div>
            </div>
        </div>
    </div>
    <div style="display: none;">
        <a href="https://icons8.com/">Grafika pochodi z strony</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script src="/js/admin.js"></script>
</body>
</html>