<!DOCTYPE html>
<html lang="pl/PL">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/logo.png">
    <title>Fernn - Reset hasła</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <style>
        body{
            background-color: rgb(254, 254, 254);
        }
        h1{
            color: rgb(80, 80, 80);
        }
        img{
            max-width: 100px;
        }
        input{
            max-width: 500px;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="all">
        <div class="mr-3 ml-3 m-auto col-11">
            <div class="m-auto col-12 text-center">
                <a href="/">
                    <img src="/img/logo.png" alt="Logo">
                </a>
            </div>
            <div class="col-12 mt-5 text-center">
                <h1>Przywracanie konta</h1>
            </div>
            <div>
                {{#if Error}}
                    <div class="alert alert-danger col-12 col-md-8 col-xl-5 m-auto mt-5">
                        Wystąpił nieznany problem. Spróbuj ponownie.
                    </div>
                {{/if}}
                {{#if SuccessSend}}
                    <div class="alert alert-success col-12 col-md-8 col-xl-5 m-auto mt-5">
                        Wiadomość została wysłana.
                    </div>
                {{/if}}
                {{#if SuccessUpdate}}
                    <div class="alert alert-success col-12 col-md-8 col-xl-5 m-auto mt-5">
                        Dane zostały zmienione
                    </div>
                {{/if}}
            </div>
            <div class="m-auto col-12 col-md-8 col-xl-5 mt-5 mb-5">
                {{#if Company}}

                    {{!-- wybierz firme --}}
                    <form action="/login/forgotpassword" method="POST" class="text-center col-12">
                        <div class="col-12 mb-3">
                            <span class="col-12 col-md-3">Wybierz firmę</span>
                            <div class="input-group col-9">
                                <select name="company" class="form-select form-select-md mb-3">
                                    {{#each CompanyData}}
                                        <option>{{ Name }}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                       <input type="hidden" name="email" value="{{ Emial }}">
                       <input type="hidden" name="SC" value="true">
                        <button class="btn btn-outline-primary" type="submit">Wyślij wiadomość</button><br><br><br>
                        <a href="/login" class="btn btn-primary mb-3">Zaloguj się</a><br>
                        <a href="/" class="btn btn-primary">Home</a>
                    </form>
                    {{else}}
                        {{#if Update}}
                            {{#if SuccessUpdate}}

                                {{!-- update --}}
                                <div class="col-12 m-auto text-center">
                                    <a href="/login" class="btn btn-outline-primary m-auto text-center">Zaloguj się</a>
                                </div>
                                {{else}}
                                    <form action="/login/savepassword" method="POST" class="text-center col-12">
                                        <div class="col-12 mb-3">
                                            <span class="col-12 col-md-3">Nowe hasło</span>
                                            <div class="input-group col-9">
                                                <input type="password" name="hasloa" class="form-control" id="hasloa">
                                            </div>
                                        </div>
                                        <div class="col-12 mb-5">
                                            Powtórz nowe hasło
                                            <div class="input-group">
                                                <input type="password" name="haslob" class="form-control" id="haslob">
                                            </div>
                                        </div>
                                        <input type="hidden" name="PID" value="{{ PID }}">
                                        <input type="hidden" name="CID" value="{{ CID }}">
                                        <div id="err" class="d-none" style="color: red;"> Hasło różnią się od siebie.</div>
                                        <div id="error" class="d-none" style="color: red;"> Hasło powinno mieć co najmniej 6 znaków.</div>
                                        <button class="btn btn-outline-primary mb-4" id="zmien" type="submit">Zmień hasło</button><br><br>
                                        <a href="/login" class="btn btn-primary mb-3">Zaloguj się</a><br>
                                        <a href="/" class="btn btn-primary ">Home</a>
                                    </form>
                                    <script>
                                        const inputa = document.querySelector("#hasloa");
                                        const inputb = document.querySelector("#haslob");
                                        const zmien = document.querySelector("#zmien");
                                        const err = document.querySelector("#err");
                                        const error = document.querySelector("#error");

                                        inputa.addEventListener("input", e => { porownaj(); dlugosc(); });
                                        inputb.addEventListener("input", e => { porownaj(); dlugosc(); });

                                        function porownaj(){
                                            if(inputa.value == inputb.value){
                                                zmien.removeAttribute("disabled", "")
                                                err.classList.add("d-none")
                                            }else{
                                                zmien.setAttribute("disabled", "")
                                                err.classList.remove("d-none")
                                            }
                                        }
                                        function dlugosc(){
                                            if(inputa.value.length<6 || inputb.value.length<6){
                                                zmien.setAttribute("disabled", "")
                                                error.classList.remove("d-none")
                                            }else{
                                                error.classList.add("d-none")
                                                zmien.removeAttribute("disabled", "")
                                            }
                                        }
                                    </script>
                            {{/if}}
                            {{else}}

                                {{!-- podaj email --}}
                                <form action="/login/forgotpassword" method="POST" class="text-center col-12">
                                    <div class="col-12 mb-5">
                                        Podaj adres Email
                                        <div class="input-group">
                                            {{#if EmailBool}}
                                                <td><input type="email" class="form-control" placeholder="Email" name="email" value="{{ Email }}" required></td>
                                                {{else}}
                                                    <td><input type="email" class="form-control" placeholder="Email" name="email" required></td>
                                            {{/if}}
                                        </div>
                                    </div>
                                    <button class="btn btn-outline-primary" type="submit">Wyślij wiadomość</button><br><br><br>
                                    <a href="/login" class="btn btn-primary mb-3">Zaloguj się</a><br>
                                    <a href="/" class="btn btn-primary">Home</a>
                                </form>
                        {{/if}}
                {{/if}} 
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>